.LoadingBlobs {
    background-color: red;
}

.blob {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #ff6ec7, #5b5bff);
    filter: blur(40px);
    opacity: .7;
  }

  .blob:nth-child(2) {
    background: radial-gradient(circle at 100% 30%, #00f0ff, #0080ff);
    width: 60px;
    height: 60px;
  }

  .blob:nth-child(3) {
    background: radial-gradient(circle at 30% 30%, #ffcf00, #ff5900);
    width: 80px;
    height: 80px;
  }